body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    color: #242424;
    background-color: white;
    margin: 0;
    padding: 0;
}
a {
    color: #078071;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #078071;
}
a:active {
    color: #078071;
}
h1, h2 {
    font-family: Georgia, Times, serif;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    a {
        color: #242424;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    a:visited {
        color: #242424;
    }
    a:active {
        color: #242424;
    }
}
h1 {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: .5rem;
}
h2 {
    font-size: 2.25rem;
    font-weight: normal;
    margin-bottom: .5rem;
}
h3 {
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: .5rem;
}
h4 {
    font-size: 1.375rem;
    margin-bottom: .5rem;
}
h5 {
    font-size: 1.25rem;
    margin-bottom: .5rem;
}
h6 {
    font-size: 1.125rem;
    margin-bottom: .5rem;
}
p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: .5rem;
    max-width: 80ch;
}
.lead {
    font-size: 1.125rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
}
.small {
    color: dimgray;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: .5rem;
}
figcaption {
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: .5rem;
}
ul.bulleted-list {
    margin-bottom: .5rem;
    list-style-position: outside;
    li {
        list-style-type: disc;
        line-height: 1.5;
        margin-left: 16px;
        padding-left: 4px;
        max-width: 80ch;
    }
}
.no-space-after {
    margin-bottom: 0;
}
.more-space-before {
    padding-top: 1rem;
}
.hair-space-before {
    padding-top: 0.5rem;
}
hr {
    border-top: 1px solid lightgray;
    margin: 1.25rem 0;
}
header {
    background-color: #222222;
    padding: 24px 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}
[id] {
    scroll-margin-top: 124px;
}
.logo-lab {
    height: 124px;}
.logo-amnh {
    height: 32px;}
.container-menu-content {
    display: flex;
    justify-content: center;
}
.container-content {
    display: flex;
    flex-direction: column;
    width: 900px;
}
.sidenav {
    font-weight: bold;
    position: sticky;
    top: 0;
    padding: 224px 32px 20px;
    width: 300px;
    height: 100vh;
    overflow-y: auto;
    scrollbar-width: none; /* For Firefox */
    &::-webkit-scrollbar {
        display: none; /* For Chrome, Safari, and Edge */
    }
    ul li {
        margin-top: 4px;
        a {
            padding-left: 12px;
            font-size: 1.125rem;
            color: #078071;
            text-decoration: none;
        }
        a:hover {
            border-left: 3px solid #078071;
            margin-left: -3px;
        }
        a:visited {
            color: #078071;
        }
        a:active {
            color: #078071;
        }
        a.active {
            border-left: 3px solid #078071;
            margin-left: -3px;
        }
        ul li {
            margin-top: 0;
            padding-left: 12px;
            a {
                padding-left: 12px;
                font-weight: normal;
                font-size: 1rem;
                color: #242424;
                text-decoration: none;
            }
            a:hover {
                border-left: 3px solid #078071;
                margin-left: -3px;
            }
            a:visited {
                color: #242424;
            }
            a:active {
                color: #242424;
            }
            a.active {
                border-left: 3px solid #078071;
                margin-left: -3px;
            }
        }  
    }
}
main {
    padding: 224px 0;
    background-color: white;
    display: flex;
    justify-content: center;
}
.image-gallery {
    display: flex;
    flex-wrap: wrap;
    margin-top: 12px;
}
.image-container-small {
    height: 160px;
    margin: 0 24px 24px 0;
}
.image-container {
    height: 220px;
    margin: 0 24px 24px 0;
}
.image-container-large {
    height: 280px;
    margin: 0 24px 24px 0;
}
.image-container-extra-large {
    height: 400px;
    margin: 0 24px 24px 0;
}
.image-illustration-full {
    max-width: 100%;
    img {
        min-width: 100%;
        margin: 12px 24px 12px 0;
    }
}
.image-illustration-large {
    max-width: 600px;
    img {
        min-width: 600px;
        margin: 12px 24px 12px 0;
    }
}
.image-illustration {
    max-width: 400px;
    img {
        min-width: 400px;
        margin: 12px 24px 12px 0;
    }
}
.image-illustration-small {
    max-width: 200px;
    img {
        min-width: 200px;
        margin: 12px 24px 12px 0;
    }
}
.person-bio {
    display: flex;
}
.image-people-group {
    max-width: 800px;
    margin-bottom: 32px;
    img {
        min-width: 800px;
    }
}
.image-person-large {
    max-width: 400px;
    margin-right: 24px;
    img {
        min-width: 400px;
        margin-top: 12px;
    }
}
.image-person {
    max-width: 300px;
    margin-right: 24px;
    img {
        min-width: 300px;
        margin-top: 12px;
    }
}
.image-person-small {
    max-width: 200px;
    margin-right: 24px;
    img {
        min-width: 200px;
        margin-top: 12px;
    }
}
.placeholder {
    background-color: lightgray;
    width: 100%;
    height: 100%;
    min-height: 200px;
}
.has-caption {
    img {
        margin-bottom: 0;
    }
}
footer {
    background-color: #222222;
    margin-top: 96px;
    padding: 48px 0;
    color: white;
    p {
        font-size: 0.875rem;
        text-align: center;
        margin: 0 auto;
    }
}