#sidebarContainer {
	border-top-style: solid;
	border-top-width: 1px;
	margin-top: -1px;
	padding-top: 5px;
}

#sidebarContainer #sidebar {
	margin-top: -5px;
	padding: 5px 0;
	margin-bottom: 0px;
}

#navcontainer3,
#navcontainer3 #current,
#navcontainer3 .currentAncestor,
#navcontainer3 ul,
#navcontainer3 li,
#navcontainer3 a,
#navcontainer3 a:active,
#navcontainer3 ul ul,
#navcontainer3 ul ul li,
#navcontainer3 ul ul a,
#navcontainer3 ul ul ul,
#navcontainer3 ul ul ul ul,
#navcontainer3 ul ul ul l ul,
#navcontainer4 #current,
#navcontainer4 .currentAncestor,
#navcontainer4 ul,
#navcontainer4 li,
#navcontainer4 a,
#navcontainer4 a:active,
#navcontainer4 ul ul,
#navcontainer4 ul ul li,
#navcontainer4 ul ul a,
#navcontainer4 ul ul ul,
#navcontainer4 ul ul ul ul,
#navcontainer4 ul ul ul l ul,
#navcontainer4,
#navcontainer5,
#navcontainer5 #current,
#navcontainer5 .currentAncestor,
#navcontainer5 ul,
#navcontainer5 li,
#navcontainer5 a,
#navcontainer5 a:active,
#navcontainer5 ul ul,
#navcontainer5 ul ul li,
#navcontainer5 ul ul a,
#navcontainer5 ul ul ul,
#navcontainer5 ul ul ul ul,
#navcontainer5 ul ul ul l ul,
#navcontainer5
 {
	display: none;
}

