h6,
h4,
#sidebarContainer .sideHeader,
h5 {
	display: none;
}

h3,
#sidebarContainer .sideHeader2 {
	padding: 5px 0 5px;
	margin-bottom: 0;
}

#navcontainer2 {
	margin-top: -232px;
}

#footer {
	margin-bottom: -9px;
}



