body,
.movie-background {
	background-color: #FFFFFF;
}

#container {
	background-color: #FFFFFF;
	border-color: #CCCCCC;
}

#pageHeader {
	background-color: #3D840C;
	border-bottom-color: #FFFFFF;
}

.blog-entry-date {
	color: #000000;
}

.photo-frame {
	background-color: %colour_content_background%;
	border-color: %colour_content_background - R(0.05)G(0.05)B(0.05)%;
} 

#pageHeader h1 {
	color: #FFFFFF;
	}
	
#pageHeader h2 {
	color: #FFFFFF;
}

.photo-title,
.album-title,
.movie-page-title,
.photo-caption
{
	color: #3C830C;
}

#sidebarContainer,
#sidebar2,
#sidebar3 {
	color: #3C830C;	
}
	
.photo-links {
	background-color:%colour_content_background - R(0.05)G(0.05)B(0.05)%;
	}
	
a:link{
	color: #3D840C;
}

.exif-data,
.filesharing-item-title a:hover,
.photo-links a:link {
	color: #000000;
}

h1 {
	color: %colour_h1_text%;
}

h2 {
	color: %colour_h2_text%;
}

h3,
h4,
h5,
h6,
#sidebarContainer .sideHeader {
	color: #B9B9B9;
	border-color: #CCCCCC;
	background-color: #FFFFFF;
}

#navcontainer1 a {
	background-color: #FFFFFF;
}

#sidebarContainer,
#sidebarContainer #sidebar,
#sidebar2,
#navcontainer2 a,
#navcontainer1,
#navcontainer1 a,
#navcontainer2,
#navcontainer3,
#navcontainer3 a,
#navcontainer4,
#navcontainer4 a,
#navcontainer5,
#navcontainer5 a,
#breadcrumbcontainer,
#footer,
.blog-entry-title,
.photo-navigation,
.album-title,
#contentContainer {
	border-color: #CCCCCC;
}

#sidebarContainer #sidebar,
#sidebar2,
#sidebar3 {
	background-color:#FFFFFF;
}


.blog-entry-title a {
	border-color: #CCCCCC;
}

#navcontainer2 a,
#navcontainer3 a,
#navcontainer4 a,
#navcontainer5 a {
	color: #3D840C;
}

a:hover,
#breadcrumbcontainer a:hover,
.filesharing-item-title a:hover  {
	color: #96CD14;
}

.photo-background {
	background-color: #FFFFFF;
}

.thumbnail-frame img,
.photo-frame {
	border-color: #CCCCCC;
	
}
.blog-entry-title {
	color: %colour_blogentry_text%;
}

#navcontainer1 #current,
#navcontainer1 .currentAncestor,
#navcontainer2 .currentAncestor,
#navcontainer3 .currentAncestor,
#navcontainer4 .currentAncestor,
#navcontainer5 .currentAncestor {
	color: #000000;
	border-color: #3D840C;
}

#navcontainer2 #current,
#navcontainer3 #current,
#navcontainer4 #current,
#navcontainer5 #current {
	color: #FFFFFF;
}

#navcontainer1 a,
#navcontainer1 .currentAncestor,
#navcontainer2 .currentAncestor,
#navcontainer3 .currentAncestor,
#navcontainer4 .currentAncestor,
#navcontainer5 .currentAncestor {
	color: #96CD14;
}

#footer,
#breadcrumbcontainer {
	color: #000000;
}

.filesharing-item-title, a:visited
{
	color: #96CD14;
}
 
.photo-navigation a:link,
.photo-navigation a:visited,
.photo-navigation a:hover
 {
	color: #000000;
}

#contentContainer {
	color: #000000;
}

#navcontainer1 .currentAncestor {
	color: %colour_currentanc_text%;
}

#navcontainer1 a,
#navcontainer1 {
	border-bottom-color: %colour_hormenu_border%;
}

#navcontainer1 .currentAncestor {
	background-color: %colour_currentanc_bg%;
}

#navcontainer2 a:hover,
#navcontainer3 a:hover,
#navcontainer4 a:hover,
#navcontainer5 a:hover {
	color: #000000;
}

#navcontainer1 a:hover {
	color: #000000;
	border-color: #D0F2A3;
}

#navcontainer2 ul ul a,
#navcontainer3 ul ul a,
#navcontainer4 ul ul a,
#navcontainer5 ul ul a {	background-color: #D0F2A3;
}